.Spacer {
    height: 5%;
}

.contorno {
    height: 100%;
    background-image: url("../../../../assets/files/characters.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    object-position: -100% 0;
}

.ListadoPersonajes {
  height: auto;
  background: rgba(42, 44, 42, 0.822);
  border-top: black 3px solid;
}

.TituloPersonajes {
  height: auto;
  font-size: large;
  background: rgba(42, 44, 42, 0.822);
  border-bottom: black 3px solid;
}

.ListBubbles {
    margin-left: 20%;
    margin-right: 20%;
    height: auto;
    background: rgba(42, 44, 42, 0.822);
    border: black 3px solid;
}

.TitleBubbles {
    text-align: center;
    font-size:x-large;
    color: rgb(253, 47, 47);
}

table {
    width: 100%;
    margin-top: 10px;
  }
  
  th {
    width: 5%;
  }
  
  .pointer{
    cursor: pointer;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .example-spacer {
    flex: 1 1 auto;
  }

  