.Spacer {
  height: 5%;
}

.contorno {
  height: 100%;
  background-image: url("../../../../assets/files/characters.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  object-position: -100% 0;
}

.ListadoPersonajes {
  height: auto;
  background: rgb(62, 62, 62);
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.example-spacer {
  flex: 1 1 auto;
}



.container {
  margin-right: 8%;
  margin-left: 8%;
  padding: 1% 2% 1% 2%;
  border-radius: 5px;

  background-color: rgb(62, 62, 62);
}

.title {
  padding: .5%;

  border-radius: 5px;
  text-align: center;

  font-size: 18px;
  font-weight: bold;

  color: white;
  /* background-color: rgb(185, 132, 66); */
  background-color: rgb(185, 66, 66);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  text-align: left;
  font-size: large;
  font-weight: bold;
  color: rgb(185, 66, 66);
  padding: 1% 0 1% 0;
}

td {
  padding: 1% 0 1% 0;
  color: white;
}

.character-button {
  background-color: rgb(102, 123, 83);
  color: white;
  font-weight: bold;
  font-size: large;
  padding: 1%;
  margin: 1%;

  border-radius: 5px;
  border: none;
}

.character-filter {
  color: black;

  width: 20%;
  padding: 1%;
  margin: 1%;

  border-radius: 5px;
  border: none;
}

.inputs {
  text-align: right;
  margin-right: 7%;
  margin-left: 7%;
}

