  <div class="contorno">
    <div class="Spacer"></div>
    <div class="Spacer"></div>
    <div class="Spacer"></div>

    <div class="general">
      <div class="firstRectangulo">
        <div class="profilePicture" [style.background-image]="backgroundImg">
        </div>
        <div class="textosPersonaje">
          <p class="NombrePersonaje"><b>{{MiCharacter._NombrePersonaje}}</b></p>
          <p class="Aspectos">Race: <b>{{MiCharacter._Raza}}</b></p>
          <p class="Aspectos">Class: <b>{{MiCharacter._Clase}}</b></p>
        </div>
      </div>
      <div class="segundoRectangulo">
        <p class="TituloLore"><b>LORE</b></p>
        <p class="Aspectos"><b>{{MiCharacter._Lore}}</b></p>
      </div>
      
      <div class="tercerRectangulo"></div>
    </div>
</div>
