  <!-- <div class="contorno">
    <div class="Spacer"></div>
    <div class="Spacer"></div>
    <div class="Spacer"></div>

    <div class="general">
      <div class="firstRectangulo">
        <div class="profilePicture" [style.background-image]="backgroundImg">
        </div>
        <div class="textosPersonaje">
          <p class="NombrePersonaje"><b>{{MiCharacter._NombrePersonaje}}</b></p>
          <p class="Aspectos">Race: <b>{{MiCharacter._Raza}}</b></p>
          <p class="Aspectos">Class: <b>{{MiCharacter._Clase}}</b></p>
        </div>
      </div>
      <div class="segundoRectangulo">
        <p class="TituloLore"><b>LORE</b></p>
        <p class="Aspectos"><b>{{MiCharacter._Lore}}</b></p>
      </div>
      
      <div class="tercerRectangulo"></div>
    </div>
</div> -->

  <div class="spacer"></div>
  <div class="spacer"></div>
  <div class="spacer"></div>
<div class="flex-column">
<div class="game-info">
<div class="card" style="margin-left: 30%; margin-right: 30%;">
  <h1 class="title">CHARACTER INFORMATION</h1>
  <div class="flex-column">
    <div style="width: 50%">
      <p class="subtitle">NOMBRE</p>
      <p>{{MiCharacter._NombrePersonaje}}</p>
      <p class="subtitle">RAZA</p>
      <p>{{MiCharacter._Raza}}</p>
      <p class="subtitle">CLASE</p>
      <p>{{MiCharacter._Clase}}</p>
    </div>
  </div>
</div>
</div>
</div>