  <div class="Navbar">

    <div class="titulo">

    <div class="labelTitle">
      <b><p style="font-size:200%">DnD Maker</p></b>
    </div>

    <div class="empty"></div>
    <div class="tools">
    <mat-toolbar color="white" style="border-bottom-left-radius: 12%;border-bottom-right-radius: 12%;opacity: 0.75;">
        <span class="example-spacer"></span>
      <div *ngFor="let item of menu">
        <button mat-button [routerLink]="item.redirect" style="border-radius:5px;">{{item.nombre}}</button>
      </div>
      <span class="example-spacer"></span>
      <app-authentication-button></app-authentication-button>

      
      <div *ngIf="auth.isAuthenticated$ | async" class="profiler">
          <button mat-mini-fab color="warn" aria-label="Example icon button with a home icon" [routerLink]="'/dashboard/profile'">
            <mat-icon>account_circle</mat-icon>
          </button>
      </div>
  
      </mat-toolbar>
    </div>
  </div>
</div>
