.example-spacer {
    flex: 1 1 auto;
  }

.titulo {
  display: flex;
  margin-left: 5%;
  margin-right: 8%;
  width: 100%;
}

.labelTitle {
  line-height:400%;
  margin-left: 10%;
  width: 9%;
  background-color: rgb(253, 47, 47);
  text-align: center;
  color: whitesmoke;
  border-bottom-left-radius: 15%;
  border-bottom-right-radius: 15%;
}

.Navbar {
  display: flex;
  flex-flow: row wrap;
  height: 0px;
  
}

.empty {
  width: 25%;
}

.tools {
  width: 50%;
  align-items: right;
  display: flex;
}

.mat-button.mat-primary .mat-button-focus-overlay {
  background-color: transparent;
}

button {
  font-size:175%;
  background-color: whitesmoke;
  transition: background-color .5s;
}

button:hover {
  background-color: red;
}

.profiler {
  margin-left: 1%;
}