<div class="page">
    <div class="spacer"></div>
    <div class="spacer"></div>
    
    <h1 class="main-title">GAMES</h1>
  
    <div class="flex-column">
      <div class="games card">
        <h1 class="title">GAMES</h1>
        
        <table class="games-table">
          <tr>
            <th>GAME ID</th>
            <th>PLAYERS</th>
            <th>JOIN</th>
          </tr>
          <tr>
            <td>7d94867b-160f-4e54-b195-6298c62667f4</td>
            <td>0/15</td>
            <td>
              <button class="game-button-request">Request</button>
            </td>
          </tr>
          <tr>
            <td>7d94867b-160f-4e54-b195-6298c62667f4</td>
            <td>0/15</td>
            <td>
              <button class="game-button-request">Request</button>
            </td>
          </tr>
          <tr>
            <td>7d94867b-160f-4e54-b195-6298c62667f4</td>
            <td>0/15</td>
            <td>
              <button class="game-button-request">Request</button>
            </td>
          </tr>
          <tr>
            <td>7d94867b-160f-4e54-b195-6298c62667f4</td>
            <td>0/15</td>
            <td>
              <button class="game-button-request">Request</button>
            </td>
          </tr>
          <tr>
            <td>7d94867b-160f-4e54-b195-6298c62667f4</td>
            <td>0/15</td>
            <td>
              <button class="game-button-request">Request</button>
            </td>
          </tr>
          <tr>
            <td>7d94867b-160f-4e54-b195-6298c62667f4</td>
            <td>0/15</td>
            <td>
              <button class="game-button-request">Request</button>
            </td>
          </tr>
          <tr>
            <td>7d94867b-160f-4e54-b195-6298c62667f4</td>
            <td>0/15</td>
            <td>
              <button class="game-button-request">Request</button>
            </td>
          </tr>
          <tr>
            <td>7d94867b-160f-4e54-b195-6298c62667f4</td>
            <td>0/15</td>
            <td>
              <button class="game-button-request">Request</button>
            </td>
          </tr>
          <tr>
            <td>7d94867b-160f-4e54-b195-6298c62667f4</td>
            <td>0/15</td>
            <td>
              <button class="game-button-request">Request</button>
            </td>
          </tr>
          <tr>
            <td>7d94867b-160f-4e54-b195-6298c62667f4</td>
            <td>0/15</td>
            <td>
              <button class="game-button-request">Request</button>
            </td>
          </tr>
          <tr>
            <td>7d94867b-160f-4e54-b195-6298c62667f4</td>
            <td>0/15</td>
            <td>
              <button class="game-button-request">Request</button>
            </td>
          </tr>
        </table>
      </div>
      <div class="player-games">
        <div class="your-games card">
          <h1 class="title">YOUR GAMES</h1>
          <table class="games-table">
            <tr>
              <th>GAME ID</th>
              <th>PLAYERS</th>
            </tr>
            <tr>
              <td>7d94867b-160f-4e54-b195-6298c62667f4</td>
              <td>0/15</td>
            </tr>
            <tr>
              <td>7d94867b-160f-4e54-b195-6298c62667f4</td>
              <td>0/15</td>
            </tr>
            <tr>
              <td>7d94867b-160f-4e54-b195-6298c62667f4</td>
              <td>0/15</td>
            </tr>
            <tr>
              <td>7d94867b-160f-4e54-b195-6298c62667f4</td>
              <td>0/15</td>
            </tr>
            <tr>
              <td>7d94867b-160f-4e54-b195-6298c62667f4</td>
              <td>0/15</td>
            </tr>
            <tr>
              <td>7d94867b-160f-4e54-b195-6298c62667f4</td>
              <td>0/15</td>
            </tr>
          </table>
        </div>
        <div class="spacer"></div>
        <div class="invitations card">
          <h1 class="title">INVITATIONS</h1>
        </div>
      </div>
    </div>
  </div>