<div class="contorno">
  <div class="Spacer"></div>
  <div class="Spacer"></div>
  <div class="Spacer"></div>

  <div class="general">
    <div class="firstRectangulo">
      <div class="profilePicture" [style.background-image]="backgroundImg">
      </div>
      <div class="textosPersonaje">
        <p class="NombrePersonaje"><b>{{MiRaza._NombreRaza}}</b></p>
        <p class="Aspectos">Origen: <b>{{MiRaza._Origen}}</b></p>
      </div>
    </div>
    <div class="segundoRectangulo">
      <p class="TituloLore"><b>Multiplicadores</b></p>
      <p class="Aspectos"><b>{{MiRaza._Multiplicadores}}</b></p>
    </div>
    
    <div class="tercerRectangulo"></div>
  </div>
</div>
