<div class="body mt-15">
    <div class="login">
      <mat-spinner *ngIf="loading" diameter="55" text-align=center class="Spinner"></mat-spinner>
      <form *ngIf="!loading" [formGroup]="form" (ngSubmit)="ingresar()">
   <!--<img src="../../../assets/img/2922688.png" width="50%" />-->
        <h1>DnDMaker</h1>
        <mat-form-field class="tag" appearance="fill">
          <mat-label class="tag">Username</mat-label>
          <input matInput autocomplete="off" formControlName="usuario"/>
        </mat-form-field>
        <mat-form-field class="tag" appearance="fill">
          <mat-label class="tag">Password</mat-label>
          <input matInput autocomplete="off" formControlName="password" type="password"/>
        </mat-form-field>
        <br />
        <button mat-raised-button color="primary" class="tag" [disabled]="form.invalid">Log in</button>
      </form>
    </div>
  </div>
  
  