<div class="page">
  <div class="spacer"></div>
  <div class="spacer"></div>
  <div class="spacer"></div>


  <h1 class="main-title">CLASSES</h1>
  <div style="text-align:right">
  <button class="character-button" routerLink="create"  *ngIf="auth.isAuthenticated$ | async">CREATE CLASS</button>
  </div>
  <div class="flex-column">
    <div class="games">
      <div class="card">
        <h1 class="title">ALL CLASSES</h1>

        <table class="games-table">
          <th>NAME</th>
          <th>DESCRIPTION</th>
          <th>OWNER</th>
          <th><span class=material-icons>settings</span></th>
          <tr *ngFor="let Classes of listClasses | paginate: { id: 'pagination1', itemsPerPage: 4, currentPage: pages }">
            <td>
              <div class="Contorno">{{ Classes._Nombre }}</div>
            </td>
            <td>
              <div class="Contorno">{{ Classes._Descripcion }}</div>
            </td>
            <td>
              <div class="Contorno">{{ resolveUsername(Classes._IdOwner) }}</div>
            </td>
            <td>
              <div *ngIf="!checkOwner(Classes._IdOwner)" style="display: inline">
                <a class="pointer" (click)="addClassToUser(Classes._id)" matTooltip="Agregar clase" style="cursor: pointer" *ngIf="checkClass(Classes._id)==false">
                  <mat-icon>download</mat-icon>
                </a>
                <a class="pointer" (click)="removeClassInUser(Classes._id)" matTooltip="Agregar clase" style="cursor: pointer" *ngIf="checkClass(Classes._id)==true">
                  <mat-icon>clear</mat-icon>
                </a>
              </div>
              <mat-icon routerLink="detail/{{Classes._id}}">search</mat-icon>
            </td>
          </tr>
        </table>
        <pagination-controls id="pagination1" class="pagination" (pageChange)="pages = $event"></pagination-controls>
      </div></div>

          <div class="games" style="margin-left: 4%;">
            <div class="card">
              <h1 class="title">YOUR CLASSES</h1>
      
              <table class="games-table">
                <th>NAME</th>
                <th>DESCRIPTION</th>
                <th>OWNER</th>
                <th><span class=material-icons>settings</span></th>
                <tr *ngFor="let Classes of listMyClasses | paginate: { id: 'pagination2', itemsPerPage: 4, currentPage: Mypages }">
                  <td>
                    <div class="Contorno">{{ Classes._Nombre }}</div>
                  </td>
                  <td>
                    <div class="Contorno">{{ Classes._Descripcion }}</div>
                  </td>
                  <td>
                    <div class="Contorno">{{ resolveUsername(Classes._IdOwner) }}</div>
                  </td>
                  <td>
                    <a (click)="deleteClasses(Classes._id)" matTooltip="Eliminar Usuario" style="cursor: pointer">
                      <mat-icon>delete</mat-icon>
                    </a>
                    <mat-icon routerLink="detail/{{Classes._id}}">search</mat-icon>
                  </td>
                </tr>
              </table>
              <pagination-controls id="pagination2" class="pagination" (pageChange)="Mypages = $event"></pagination-controls>
            </div></div></div></div>

<!-- <div class="contorno">
    <div class="Spacer"></div>
    <div class="Spacer"></div>
    <div class="Spacer"></div>


    <div class="inputs">
      <input matInput (keyup)="applyFilter($event)" class="character-filter" placeholder="Filter" style="text-align: left;" #input />
      <button class="character-button" routerLink="create"  *ngIf="auth.isAuthenticated$ | async">CREATE CUSTOM CLASS</button>
    </div>

    <div class="container"  *ngIf="auth.isAuthenticated$ | async">
      <h1 class="title">YOUR CLASSES</h1>
      <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8" class="ListadoPersonajes">
        <ng-container matColumnDef="Nombre">
          <th mat-header-cell *matHeaderCellDef class="LetrasTitle">NAME</th>
          <td mat-cell *matCellDef="let Class" class="Letras">{{ Class._Nombre }}</td>
        </ng-container>

        <ng-container matColumnDef="Descripcion">
          <th mat-header-cell *matHeaderCellDef class="LetrasTitle">Descripcion</th>
          <td mat-cell *matCellDef="let Class" class="Letras">{{ Class._Descripcion }}</td>
        </ng-container>

        <ng-container matColumnDef="Owner">
          <th mat-header-cell *matHeaderCellDef class="LetrasTitle">OWNER</th>
          <td mat-cell *matCellDef="let Class" class="Letras">{{ resolveUsername(Class._IdOwner) }}</td>
        </ng-container>

        <ng-container matColumnDef="Metodos">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let Class;" style="text-align: right">
            <a class="pointer" (click)="deleteClasses(Class._id)" matTooltip="Eliminar Usuario" style="cursor: pointer">
              <mat-icon>delete</mat-icon>
            </a>
          <span class="material-icons" routerLink="detail/{{Class._id}}" style="cursor: pointer">search</span>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
       </table>
    </div>
    <br>

    <div class="container">
      <h1 class="title">ALL CLASSES</h1>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" class="ListadoPersonajes">
        <ng-container matColumnDef="Nombre">
          <th mat-header-cell *matHeaderCellDef class="LetrasTitle">NAME</th>
          <td mat-cell *matCellDef="let Class" class="Letras">{{ Class._Nombre }}</td>
        </ng-container>

        <ng-container matColumnDef="Descripcion">
          <th mat-header-cell *matHeaderCellDef class="LetrasTitle">Descripcion</th>
          <td mat-cell *matCellDef="let Class" class="Letras">{{ Class._Descripcion }}</td>
        </ng-container>

        <ng-container matColumnDef="Owner">
          <th mat-header-cell *matHeaderCellDef class="LetrasTitle">OWNER</th>
          <td mat-cell *matCellDef="let Class" class="Letras">{{ resolveUsername(Class._IdOwner) }}</td>
        </ng-container>

        <ng-container matColumnDef="Metodos">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let Class;" style="text-align: right">
          <div *ngIf="!checkOwner(Class._IdOwner)" style="display: inline">
            <a class="pointer" (click)="addClassToUser(Class._id)" matTooltip="Agregar clase" style="cursor: pointer" *ngIf="checkClass(Class._id)==false">
              <mat-icon>download</mat-icon>
            </a>
            <a class="pointer" (click)="removeClassInUser(Class._id)" matTooltip="Agregar clase" style="cursor: pointer" *ngIf="checkClass(Class._id)==true">
              <mat-icon>clear</mat-icon>
            </a>
          </div>
          <span class="material-icons" routerLink="detail/{{Class._id}}">search</span>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
       </table>
    </div> -->